body{
    background-color: black;
    color:whitesmoke;
}

form{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(134, 72, 121) 0px 0px 0px 3px;
    width: 500px;
    padding: 1em 2em 2em 2em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.botonEnviar {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.botonEnviar:hover {
  box-shadow: rgba(255, 255, 255, 0.938) 0 1px 30px;
  transition-duration: .1s;
}

.botonReset {
    background-image: linear-gradient(92.88deg, #4579b5 9.16%, #438ecc 43.89%, #3fc5d7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 2rem;
    padding: 0 1rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .botonReset:hover {
    box-shadow: rgba(255, 255, 255, 0.938) 0 1px 30px;
    transition-duration: .1s;
  }

  #tituloFormulario{
      color: #FFE459;
      font-family: "The Conjuring";
      text-align: center;
  }

  @font-face {
    font-family: "The Conjuring";
    src: url("fonts/TrajanusBricks.ttf");
  }

  textarea{
      resize: none;
  }