body{
    background-color: black;
}

#bodyHome{
    background-image: url("img/elconjuro_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

header{
    width: 100%;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1D1716;
}

#logo{
    width: 190px;
    height: 70px;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

#botonera{
    float: right;
    width: 850px;
    height: 60px;
    margin-top: 20px;
}         

#botonera ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}

#botonera ul li{
    display: inline;
}

#botonera ul li a{
    display: inline-block;
    color: #FFE459;
    font-family: "The Conjuring";
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
}

#botonera ul li a:hover{
    background-color: rgb(83, 32, 83); 
    transition-duration: .2s;
}

#contenidoMenu{
    width: 90%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#contenidoMenu ul{
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
}

#contenidoMenu ul li{
    display: inline;
}

#contenidoMenu ul li img{
    display: inline;
    width: 25%;
    padding: 20px;
    background-position: center;
    margin: auto;
}
#contenidoMenu ul li img:hover{
    background-color: rgb(83, 32, 83); 
    transition-duration: .2s;
    opacity: 0.5;
}

#divLista{
    text-align: center;
}
#tituloHome{
    color: black;
    font-family: "The Conjuring";
    font-size: 32px;
    text-align: center;
    text-transform: lowercase;
}

#footer1{
    background-color: black;
    opacity: 0.7;
    position: absolute;
    bottom: 0%;
    width: 99%;
    color: white;
    text-align: right;
    font-family: "Simonetta";
}

#footer2{
    background-color: black;
    position: relative;
    bottom: 0%;
    width: 99%;
    color: white;
    text-align: right;
    font-family: "Simonetta";
}

 @font-face {
    font-family: "The Conjuring";
    src: url("fonts/TrajanusBricks.ttf");
}

@font-face {
    font-family: "Simonetta";
    src: url("fonts/Simonetta-Regular.ttf");
}

#bodyFormulario{
    color:whitesmoke;
}

form{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(134, 72, 121) 0px 0px 0px 3px;
    width: 500px;
    padding: 1em 2em 2em 2em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.botonEnviar {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.botonEnviar:hover {
  box-shadow: rgba(255, 255, 255, 0.938) 0 1px 30px;
  transition-duration: .1s;
}

.botonReset {
    background-image: linear-gradient(92.88deg, #4579b5 9.16%, #438ecc 43.89%, #3fc5d7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 2rem;
    padding: 0 1rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .botonReset:hover {
    box-shadow: rgba(255, 255, 255, 0.938) 0 1px 30px;
    transition-duration: .1s;
  }

  #tituloFormulario{
      color: #FFE459;
      font-family: "The Conjuring";
      text-align: center;
  }

textarea{
    resize: none;
}

#complemento{
    float: right;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 3%;
    margin-right: 5px;
    padding: 5px;
    background-color: #1D1716;
    position:sticky;
    top: 35px;
}

#poster{
    width: 150px;
    height: auto;
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

#tituloPelicula{
    font-family: "The Conjuring";
    color: #FFE459;
    font-size: 32px;
    text-transform: lowercase;
}

#tituloFicha{
    font-family: "The Conjuring";
    font-size: 20px;
    font-weight: bold;
    text-transform: lowercase;
    color: #FFE459;
    text-align: center;
}

.imagen{
    width: 500px;
    height: auto;
}

.ficha{
    color: white;
    font-family: "Simonetta";
    font-size: 14px;
}

.resumen{
    width: 70%;
    color: white;
    font-size: 25px;
    font-family: "Simonetta";
}

@media all and (min-width:600px) and (max-width:1023px){

    header{
        width: 580px;
        height: 230px;
        background-color: #1D1716;
    }

    #logo{
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    #botonera{
        float: none;
        width: 400px;
        height: 40px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }  

    #contenidoMenu{
        width: 500px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    
    #contenidoMenu ul{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #contenidoMenu ul li{
        display: block;
    }
    
    #contenidoMenu ul li img{
        width: 400px;
        background-position: center
    }

    #tituloHome{
        color: white;
    }

    #bodyHome{
        background-image: none;
    }

    #footer1{
        position: relative;
        opacity: 1;
    }
}

@media all and (max-width:599px){

    header{
        width: 90%;
        height: auto;
        background-color: #1D1716;
    }

    #logo{
        width: 100%;
        height: auto;
        border-radius: 50%;
        float:none;
        padding: 10px;
        margin-top: auto;
        margin-left: auto;
        box-sizing: border-box;
        text-align: center;
    }

    nav{
        width: auto;
        height: auto;
    }

    #botonera{
        float: none;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }  

    #botonera ul{
        float: none;
    }

    #botonera ul li{
        display: block;
    }

    #botonera ul li a{
        width: 100%;
        box-sizing: border-box;
        text-align: center;
    }

    #contenidoMenu{
        width: 90%;
        height: auto;
        margin-top: 20px;
    }

    #contenidoMenu ul{
        width: 90%;
    }

    #contenidoMenu ul li{
        display: block;
    }

    #contenidoMenu ul li img{
        width: 80%;
        background-position: center
    }

    #tituloHome{
        color: white;
    }

    #bodyHome{
        background-image: none;
    }

    #footer1{
        position: relative;
        opacity: 1;
    }

}
